.devolucionesPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 2rem 1rem;
}
.devolucionesPage h1{
    color: var(--color-title);
    text-shadow:  0 0 3px var(--color-title);
    border-bottom: 1px solid var(--color-title);
    margin-bottom: 2rem;
}
@media (max-width:768px){
    .devolucionesPage{
        width: 100%;
        padding: .2rem;
    }
}